<div class="p-3">
  <div class="card">
    <div class="card-header">
      <div class="">
        <div class="d-flex justify-content-between">
          <h4><i class="bi bi-car-front-fill"></i> Vehicles</h4>
          <!-- Add new radar -->
          <div class="float-right">
            <button class="btn btn-outline-success" (click)="openFormPopup()"><i class="bi bi-plus-circle"></i> Add vehicle</button>
          <div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark text-center">
        <tr>
          <th>Id</th> <th>Registration Number</th> <th>Brand</th> <th>Fiscal Power</th> <th>Model</th> <th>Details</th> <th>Delete</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr *ngFor = "let vehicle of vehicles">
          <td>{{vehicle.id}}</td>
          <td>{{vehicle.regNumber}}</td>
          <td>{{vehicle.brand}}</td>
          <td>{{vehicle.fiscalPower}}</td>
          <td>{{vehicle.model}}</td>
          <td><button class="btn btn-outline-primary" (click)="openPopup(vehicle)"><i class="bi bi-search"></i></button></td>
          <td><button class="btn btn-outline-danger" (click)="deleteRadar(vehicle.id)"><i class="bi bi-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Popup with bootstrap -->
<div class="popup card" *ngIf="isPopupOpen && focusedVehicle != null">
  <div class="card-body">
    <!-- Popup content with ability to modify the infraction -->
    <h4><i class="bi bi-exclamation-circle"></i> Infraction details</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="vehicleId">Id</label>
          <input type="text" class="form-control" id="vehicleId" [(ngModel)]="focusedVehicle.id" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="regNumber">Registration number</label>
          <input type="text" class="form-control" id="regNumber" [(ngModel)]="focusedVehicle.regNumber" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="brand">Brand</label>
          <input type="text" class="form-control" id="brand" [(ngModel)]="focusedVehicle.brand" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="model">Model</label>
          <input type="text" class="form-control" id="model" [(ngModel)]="focusedVehicle.model" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="fiscalPower">Fiscal power</label>
          <input type="text" class="form-control" id="fiscalPower" [(ngModel)]="focusedVehicle.fiscalPower" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ownerId">Owner id</label>
          <input type="text" class="form-control" id="ownerId" [(ngModel)]="focusedVehicle.owner.id" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Owner name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="focusedVehicle.owner.name" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="birthDate">Owner birth date</label>
          <input type="text" class="form-control" id="birthDate" [(ngModel)]="focusedVehicle.owner.birthDate" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Owner email</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="focusedVehicle.owner.email" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent">
    <!-- Close the popup -->
    <button class="btn btn-outline-primary" (click)="closePopup()"><i class="bi bi-x"></i> Close</button>
  </div>
</div>

<!-- Popup with bootstrap -->
<div class="popup card" *ngIf="isFormPopupOpen">
  <div class="card-body">
    <!-- Popup content with ability to add new radar -->
    <h4><i class="bi bi-plus-circle"></i> Add new vehicle</h4>
    <form class="row" [formGroup]="newVehicleForm" (ngSubmit)="saveNewVehicle()">
      <div class="col-md-6">
        <div class="form-group">
          <label for="regNumber1">Registration number</label>
          <input type="text" class="form-control" id="regNumber1" formControlName="regNumber">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="brand1">Brand</label>
          <input type="text" class="form-control" id="brand1" formControlName="brand">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="fiscalPower1">Fiscal power</label>
          <input type="text" class="form-control" id="fiscalPower1" formControlName="fiscalPower">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="model1">Model</label>
          <input type="text" class="form-control" id="model1" formControlName="model">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ownerName">Owner name</label>
          <input type="text" class="form-control" id="ownerName" formControlName="ownerName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ownerBirthDate">Birthdate</label>
          <input type="text" class="form-control" id="ownerBirthDate" formControlName="ownerBirthdate">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="email1">Email</label>
          <input type="text" class="form-control" id="email1" formControlName="ownerEmail">
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer bg-transparent">
    <!-- Close the popup -->
    <button class="btn btn-outline-primary" (click)="closeFormPopup()"><i class="bi bi-x-lg"></i> Close</button>
    <!-- Add new radar -->
    <button class="btn btn-outline-success ms-3" (click)="saveNewVehicle()"><i class="bi bi-plus-circle"></i> Add</button>
  </div>
</div>
